<nz-modal [(nzVisible)]="isVisible" nzTitle="详情" (nzOnCancel)="handleCancel()" [nzFooter]="null" nzWrapClassName="vertical-center-modal">
  <div nz-row class="detailItem">
    <div nz-col [nzSpan]="6">
      名称：
    </div>
    <div nz-col [nzSpan]="18">
      {{rowData.name}}
    </div>
  </div>
  <div nz-row class="detailItem">
    <div nz-col [nzSpan]="6">
      应用列表：
    </div>
    <div nz-col [nzSpan]="18">
      <app-box-list [listData]="rowData.relatedApp"></app-box-list>
    </div>
  </div>
  <div nz-row class="detailItem">
    <div nz-col [nzSpan]="6">
      备注：
    </div>
    <div nz-col [nzSpan]="18">
      {{rowData.note}}
    </div>
  </div>
  <div nz-row class="detailItem">
    <div nz-col [nzSpan]="6">
      创建时间：
    </div>
    <div nz-col [nzSpan]="18">
      {{rowData.createTime}}
    </div>
  </div>
  <div nz-row class="detailItem">
    <div nz-col [nzSpan]="6">
      修改时间：
    </div>
    <div nz-col [nzSpan]="18">
      {{rowData.updateTime}}
    </div>
  </div>
  <div nz-row class="detailItem">
    <div nz-col [nzSpan]="6">
      更改人：
    </div>
    <div nz-col [nzSpan]="18">
      {{rowData.modifier}}
    </div>
  </div>
</nz-modal>
