<div class="inner-container">
  <app-tool></app-tool>
  <div class="table-wrap">
    <nz-table
      #rowSelectionTable
      nzShowPagination
      nzShowSizeChanger
      [nzData]="myTableServie.listOfAllData"
      (nzCurrentPageDataChange)="myTableServie.currentPageDataChange($event)"
    >
      <thead>
      <tr>
        <th
          nzShowCheckbox
          nzWidth="90"
          nzAlign="center"
          [(nzChecked)]="myTableServie.isAllDisplayDataChecked"
          [nzIndeterminate]="myTableServie.isIndeterminate"
          (nzCheckedChange)="myTableServie.checkAll($event)"
        ></th>
        <th nzAlign="center">应用名称</th>
        <th nzAlign="center">应用标识</th>
        <th nzAlign="center">应用首页URL</th>
        <th nzAlign="center">关联租户</th>
        <th nzAlign="center">所属公司</th>
        <th nzAlign="center">刷新资源Api</th>
        <th nzAlign="center">主机</th>
        <th nzWidth="150" nzAlign="center">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td
          nzShowCheckbox
          nzAlign="center"
          [(nzChecked)]="myTableServie.mapOfCheckedId[data.id]"
          [nzDisabled]="data.disabled"
          (nzCheckedChange)="myTableServie.refreshStatus()"
        ></td>
        <td nzAlign="center">{{ data.name }}</td>
        <td nzAlign="center">{{ data.appIdentifier }}</td>
        <td nzAlign="center">{{ data.appIndexUrl }}</td>
        <td nzAlign="center">{{ data.relatedUser }}</td>
        <td nzAlign="center">{{ data.company }}</td>
        <td nzAlign="center">{{ data.refreshApi }}</td>
        <td nzAlign="center">{{ data.host }}</td>
        <td nzAlign="center">
          <div class="operation-button">
            <i nz-icon nzType="eye" (click)="showModal(data)" title="查看" [nzTheme]="'twotone'"></i>
            <i nz-icon nzType="edit" [nzTheme]="'twotone'" (click)="updataData(data)" title="修改"  routerLink="/index/application/update" [queryParamsHandling]="'merge'"></i>
          </div>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<app-modal
  [isVisible]="isModalVisible"
  [rowData]="rowData"
  (closeEvent)="isModalVisible = false"
></app-modal>
