<div nz-row nzType="flex" nzJustify="start">
  <div nz-col nzSpan="4">
    <div class="input-search">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="请输入用户名"/>
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
  </div>
  <div nz-col nzSpan="4">
    <div class="input-search">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input [ngModel]="userOperate" name="userOperate" placeholder="请输入用户操作"/>
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
  </div>
  <div nz-col nzSpan="4">
    <div class="input-search">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input [ngModel]="operationContent" name="operationContent" placeholder="请输入操作内容"/>
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
  </div>
  <div nz-col nzSpan="12">
    <nz-date-picker
      class="header-operation-button"
      nzShowTime
      nzFormat="yyyy-MM-dd HH:mm:ss"
      [ngModel]="startValue"
      (ngModelChange)="onStartChange($event)"
      (nzOnOpenChange)="handleStartOpenChange($event)"
      nzPlaceHolder="请选择开始时间"
    >
    </nz-date-picker>
    <nz-date-picker
      class="header-operation-button"
      nzShowTime
      nzFormat="yyyy-MM-dd HH:mm:ss"
      [ngModel]="startValue"
      (ngModelChange)="onStartChange($event)"
      (nzOnOpenChange)="handleStartOpenChange($event)"
      nzPlaceHolder="请选择结束时间"
    >
    </nz-date-picker>
    <div class="header-export">
      <button nz-button nzType="primary" nzSize="default" title="导出"><i nz-icon nzType="export"></i></button>
    </div>
  </div>

</div>

