<div class="update-wrap inner-container">
  <nz-card nzType="inner" nzTitle="新增/修改">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item class="update-form-item">
        <nz-form-label [nzSpan]="3" nzRequired>权限名称</nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="请输入权限名称">
          <input nz-input formControlName="permissionName" required placeholder="长度不大于30" maxlength="30"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="update-form-item">
        <nz-form-label [nzSpan]="3" nzRequired>类型</nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="请选择类型">
          <nz-radio-group  formControlName="typeValue" required>
            <label nz-radio nzValue="T">租户</label>
            <label nz-radio nzValue="A">应用</label>
            <label nz-radio nzValue="T+A">租户+应用</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="update-form-item" *ngIf="this.validateForm.controls.typeValue.value != 'A'">
        <nz-form-label [nzSpan]="3" nzRequired>关联租户</nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="请选择租户" >
          <nz-select formControlName="relatedTenantSelectedValue">
            <nz-option
              *ngFor="let option of relatedTenantOption"
              [nzLabel]="option"
              [nzValue]="option"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="update-form-item" *ngIf="this.validateForm.controls.typeValue.value != 'T'">
        <nz-form-label [nzSpan]="3" nzRequired>关联应用</nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="请选择应用">
          <nz-select formControlName="relatedAppSelectedValue">
            <nz-option
              *ngFor="let option of relatedAppOption"
              [nzLabel]="option"
              [nzValue]="option"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="update-form-item">
        <nz-form-label [nzSpan]="3" nzRequired>资源通配符</nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="请输入资源通配符">
          <input nz-input formControlName="wildcard" required placeholder="%代表任意值，如index%可匹配index.html"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="update-form-item">
        <nz-form-label [nzSpan]="3" nzRequired>行为</nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="请选择行为">
          <nz-radio-group formControlName="action" required>
            <label nz-radio nzValue="read">read</label>
            <label nz-radio nzValue="write">write</label>
            <label nz-radio nzValue="visible">visible</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="3">详细说明</nz-form-label>
        <nz-form-control [nzSpan]="8">
          <textarea nz-input rows="2" formControlName="note"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="update-form-item">
        <nz-form-control [nzSpan]="12" [nzOffset]="5">
          <button nz-button nzType="primary" class="confirm-btn">确认</button>
          <button nz-button routerLink="/index/permission" [queryParamsHandling]="'merge'">返回</button>
        </nz-form-control>
      </nz-form-item>

    </form>
  </nz-card>
</div>
