.header-trigger {
  font-size: 18px;
  padding: 15px;
  cursor: pointer;
  color: #FFF;
  transition: background-color 0.3s;
}

.header-wrapper {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0;
  color: #fff;
  .item {
    height: 50px;
    line-height: 50px;
  }

  .button{
    padding: 0 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
  }

  .button:hover{
    cursor: pointer;
    //background-color: rgba(20, 104, 165, 0.8);
  }
}
