<div nz-row nzType="flex" nzJustify="start">
  <div nz-col nzSpan="5">
    <div class="input-search">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input [ngModel]="roleName" name="roleName" placeholder="角色名称"/>
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
  </div>
  <div nz-col nzSpan="5">
    <nz-select nzShowSearch nzAllowClear [nzPlaceHolder]="'租户查询'" [ngModel]="selectedValue">
      <nz-option *ngFor="let option of pageData" [nzLabel]="option.relatedTenant" [nzValue]="option.relatedTenant"></nz-option>
    </nz-select>
  </div>
  <div nz-col nzSpan="5">
    <nz-select nzShowSearch nzAllowClear [nzPlaceHolder]="'应用查询'" [ngModel]="selectedAppValue">
      <nz-option *ngFor="let option of pageData" [nzLabel]="option.relatedApp" [nzValue]="option.relatedApp"></nz-option>
    </nz-select>
  </div>
  <div nz-col nzSpan="5">
    <div class="header-operation-button">
      <button nz-button nzType="primary" nzSize="default" title="新增" routerLink="/index/role/update" [queryParamsHandling]="'merge'"><i nz-icon nzType="plus"></i></button>
    </div>
    <div class="header-operation-button">
      <button nz-button nzSize="default" title="删除"  nzType="danger"><i nz-icon nzType="delete"></i></button>
    </div>
  </div>
</div>
