<nz-modal class="modal-wrap" [(nzVisible)]="isVisible" nzTitle="详情" (nzOnCancel)="handleCancel()" [nzFooter]="null" nzWrapClassName="vertical-center-modal">
  <div nz-row class="detailItem">
    <div nz-col [nzSpan]="6">
      资源名称：
    </div>
    <div nz-col [nzSpan]="18">
      {{rowData.name}}
    </div>
  </div>
  <div nz-row class="detailItem">
    <div nz-col [nzSpan]="6">
      资源描述：
    </div>
    <div nz-col [nzSpan]="18">
      {{rowData.resourceDescription}}
    </div>
  </div>
  <div nz-row class="detailItem">
    <div nz-col [nzSpan]="6">
      路径标识：
    </div>
    <div nz-col [nzSpan]="18">
      {{rowData.pathIdentification}}
    </div>
  </div>
  <div nz-row class="detailItem">
    <div nz-col [nzSpan]="6">
      类型：
    </div>
    <div nz-col [nzSpan]="18">
      {{rowData.resourceType}}
    </div>
  </div>
  <div nz-row class="detailItem">
    <div nz-col [nzSpan]="6">
      关联租户：
    </div>
    <div nz-col [nzSpan]="18">
      <app-box-list [listData]="rowData.relatedTenant"></app-box-list>
    </div>
  </div>
  <div nz-row class="detailItem">
    <div nz-col [nzSpan]="6">
      关联应用：
    </div>
    <div nz-col [nzSpan]="18">
      <app-box-list [listData]="rowData.relatedApp"></app-box-list>
    </div>
  </div>
  <div nz-row class="detailItem">
    <div nz-col [nzSpan]="6">
      资源配置类型：
    </div>
    <div nz-col [nzSpan]="18">
      {{rowData.typeSetting}}
    </div>
  </div>
  <div nz-row class="detailItem">
    <div nz-col [nzSpan]="6">
      创建时间：
    </div>
    <div nz-col [nzSpan]="18">
      {{rowData.createTime}}
    </div>
  </div>
  <div nz-row class="detailItem">
    <div nz-col [nzSpan]="6">
      修改时间：
    </div>
    <div nz-col [nzSpan]="18">
      {{rowData.updateTime}}
    </div>
  </div>
  <div nz-row class="detailItem">
    <div nz-col [nzSpan]="6">
      更改人：
    </div>
    <div nz-col [nzSpan]="18">
      {{rowData.modifier}}
    </div>
  </div>
</nz-modal>
