<nz-modal
  class="modal-wrap"
  [(nzVisible)]="isVisible"
  nzTitle="详情" (nzOnCancel)="handleCancel()"
  [nzFooter]="null"
  nzWrapClassName="vertical-center-modal"
>
  <div nz-row class="detailItem">
    <div nz-col [nzSpan]="6">
      应用名称：
    </div>
    <div nz-col [nzSpan]="18">
      {{rowData.name}}
    </div>
  </div>
  <div nz-row class="detailItem">
    <div nz-col [nzSpan]="6">
      应用标识：
    </div>
    <div nz-col [nzSpan]="18">
      {{rowData.appIdentifier}}
    </div>
  </div>
  <div nz-row class="detailItem">
    <div nz-col [nzSpan]="6">
      应用首页URL：
    </div>
    <div nz-col [nzSpan]="18">
      {{rowData.appIndexUrl}}
    </div>
  </div>
  <div nz-row class="detailItem">
    <div nz-col [nzSpan]="6">
      关联租户：
    </div>
    <div nz-col [nzSpan]="18">
      <app-box-list [listData]="rowData.relatedUser"></app-box-list>
    </div>
  </div>
  <div nz-row class="detailItem">
    <div nz-col [nzSpan]="6">
      所属公司：
    </div>
    <div nz-col [nzSpan]="18">
      {{rowData.company}}
    </div>
  </div>
  <div nz-row class="detailItem">
    <div nz-col [nzSpan]="6">
      刷新资源Api：
    </div>
    <div nz-col [nzSpan]="18">
      {{rowData.refreshApi}}
    </div>
  </div>
  <div nz-row class="detailItem">
    <div nz-col [nzSpan]="6">
      主机：
    </div>
    <div nz-col [nzSpan]="18">
      {{rowData.host}}
    </div>
  </div>
  <div nz-row class="detailItem">
    <div nz-col [nzSpan]="6">
      创建时间：
    </div>
    <div nz-col [nzSpan]="18">
      {{rowData.createTime}}
    </div>
  </div>
  <div nz-row class="detailItem">
    <div nz-col [nzSpan]="6">
      修改时间：
    </div>
    <div nz-col [nzSpan]="18">
      {{rowData.updateTime}}
    </div>
  </div>
  <div nz-row class="detailItem">
    <div nz-col [nzSpan]="6">
      更改人：
    </div>
    <div nz-col [nzSpan]="18">
      {{rowData.modifier}}
    </div>
  </div>
</nz-modal>
