<div class="inner-container">
  <app-tool></app-tool>
  <div class="table-wrap">
    <nz-table
      #rowSelectionTable
      nzShowPagination
      nzShowSizeChanger
      [nzData]="myTableServie.listOfAllData"
      (nzCurrentPageDataChange)="myTableServie.currentPageDataChange($event)"
    >
      <thead>
      <tr>
        <th
          nzShowCheckbox
          nzWidth="80px"
          nzAlign="center"
          [(nzChecked)]="myTableServie.isAllDisplayDataChecked"
          [nzIndeterminate]="myTableServie.isIndeterminate"
          (nzCheckedChange)="myTableServie.checkAll($event)"
        ></th>
        <th nzAlign="center">名称</th>
        <th nzAlign="center">应用列表</th>
        <th nzAlign="center">备注</th>
        <th nzAlign="center">更改人</th>
        <th nzWidth="150px" nzAlign="center">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td
          nzShowCheckbox
          nzAlign="center"
          [(nzChecked)]="myTableServie.mapOfCheckedId[data.id]"
          [nzDisabled]="data.disabled"
          (nzCheckedChange)="myTableServie.refreshStatus()"
        ></td>
        <td nzAlign="center">{{ data.name }}</td>
        <td nzAlign="center">{{ data.relatedApp }}</td>
        <td nzAlign="center">{{ data.note }}</td>
        <td nzAlign="center">{{ data.modifier }}</td>
        <td nzAlign="center">
          <div class="operation-button">
            <i nz-icon nzType="eye" (click)="showModal(data)" title="查看" [nzTheme]="'twotone'"></i>
            <i nz-icon nzType="edit" [nzTheme]="'twotone'" (click)="updateData(data)" title="修改" routerLink="/index/sso/update" [queryParamsHandling]="'merge'"></i>
          </div>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<app-modal [isVisible]="isModalVisible" [rowData]="rowData" (closeEvent)="isModalVisible = false"></app-modal>

