:host ::ng-deep .ant-tree {
  overflow: hidden;
  margin: 5px 0;
}
.file-name,
.folder-name {
  color: #222;
  margin-left: 2px;
}
.file-desc,
.folder-desc {
  padding: 0 8px;
  display: inline-block;
  border: solid 1px #2469DF;
  border-radius: 2px;
  color: #555;
  position: relative;
  left: 12px;
  margin-right: 5px;
}
